body {
    font-family: "Oswald";
    color: #333333;
    position: relative;
}


header {
    margin: 3rem 0rem;
}
.header-crest {
    float: left;
    /* display: inline-block; */
    /* margin-left: 3rem; */
    /* margin-right: 1rem; */
    /* margin-bottom: 2rem; */
    height: 48px;
}
.header-crest_crest {
    display: inline-block;
    margin-right: 1rem;
}
.header_university {
    display: inline-block;
    width: 65%;
    font-weight: 800;
    font-size: 1.6rem;
    font-family: Arial;
}
.header_navigate {
    margin: 12px 0;
    float: right;
    /* display: inline-block; */
    line-height: 24px;
    /* font-size: 0; */
}
#header_navigate__item {
    /* display: inline-block; */
    margin-right: 80px;
    font-size: 20px;
    line-height: 24px;
    /* margin-bottom: 1rem; */
    /* padding-bottom: 1rem; */
    /* border-bottom: 1rem; */
    font-weight: 400;
    float: left;
}
#header_navigate__magnify {
    /* display: inline-block; */
    /* margin-right: 2rem; */
    /* padding-top: 2rem; */
    width: 24px;
    height: 24px;
    float: right;
}

footer {
    clear: left;
    margin: 5rem 0rem;
}
.footer-university-lhs {
    display: inline-block;
    /* width: 65%; */
    font-weight: 600;
    font-size: 0.9rem;
    font-family: Arial;
    padding-top: 2rem;
    padding-bottom: 10rem;
}
.footer-university_crest {
    display: inline-block;
}
.footer-university_text {
    margin-left: 0.5rem;
    display: inline-block;
    text-align: left;
}
.footer-university_twitter-header {
    margin-left: 0.5rem;
    display: inline-block;
    text-align: left;
    font-size: 0.7rem;
    font-family: Helvetica;
}
.footer-university_twitter-body {
    /* margin-left: 0.5rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    text-align: left;
    font-size: 0.7rem;
    font-family: Helvetica;
    font-weight: 400;
    width: 16rem;
}
.footer-university_twitter-body_text {
    margin-bottom: 2rem;
}
.footer-university_twitter-icon {
    display: inline-block;
    margin-left: 8rem;
    margin-right: 8rem;
}
.footer-lhs {
    float: left;
    /* display: inline-block; */
    width: 60%;
    border-top: 1px solid lightgrey;
}
.footer-lhs-watermark {
    height: 22rem;
    /* width: 10rem; */
    margin-left: 3rem;
    background-image: url("../images/large-crest-watermark.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    /* border: 2px solid black; */
}
.footer-rhs {
    float: right;
    /* display: inline-block; */
    width: 40%;
    border-top: 1px solid lightgrey;
}
.footer-university-rhs {
    display: inline-block;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: Arial;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.footer_twitter {
    font-size: 0.75rem;
}
.footer_caption {
    text-align: right;
    font-family: "Helvetica";
}
.footer_caption-date {
    text-align: right;
    font-family: "Helvetica";
}
.footer_university {
    display: block;
    text-align: right;
    font-family: "Helvetica";
    font-weight: 500;
}
.footer_university_name {
    font-weight: 800;
}
#footer-university_twitter-handle, .footer-university_twitter-time {
    font-size: 0.6rem;
    font-weight: 100;
    opacity: 0.5;
}
.footer_crest {
    display: block;
    margin-right: 1rem;
    text-align: right;
}
.footer_username {
    display: block;
    text-align: right;
    font-family: "Helvetica";
    font-weight: 100;
}

/* Hero */
.hero {
    clear: both;
    width: auto;
    display: block;
}
.hero-home {
    font-family: "FiraSans";
    margin-left: 3rem;
}
.hero-text {
    float: left;
    margin: 3rem 3rem;
    width: 30%;
}
.hero-text_title {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.hero-text_summary {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.hero-text_person {
    font-size: 1rem;
}
.hero-text_person__title {
    font-size: 0.7rem;
    margin-bottom: 3rem;
}
.hero-text_button {
    display: block;
    color: #333333;
    /* width: 30%; */
    width: 9rem;
    /* margin: auto; */
    text-align: center;
    padding: 1rem 2rem;
    border-style: solid;
    border-width: thin;
    border-image: linear-gradient(98.01deg, #00C2FF 14.16%, #FF27C3 79.91%) 1;
}
.hero-image {
    float: right;
}
.hero-image_image {
    display: block;
    /* max-width: 100%; */
    /* width: 752px; */
    width: 736px;
    margin-right: 3rem;
}

/*  Cards */
.cards {
    clear: right;
    margin: 3rem 3rem;
}
.cards-area {
    float: left;
    margin-bottom: 8rem;
}
.largecard {
    /* float: left; */
    display: inline-block;
    /* margin-left: 1.5rem; */
    margin-top: 5rem;
    margin-right: 2rem;
}
/* .largecard:last-child {
    border-bottom: 5rem;
} */
/* .largecard-top {
    margin-bottom: 430px;
} */
.largecard-top_image__1, .largecard-top_image__2, .largecard-top_image__3, .largecard-top_image__4, .largecard-top_image__5 {
    margin-bottom: 430px;
}
.largecard-bottom {
    display: inline-block;
    background-color: white;
    width: 400px;
}
.largecard-bottom_title {
    display: inline-block;
    font-weight: 400;
    /* margin: 1.5rem; */
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
}
.largecard-bottom_arrow-image {
    display: inline-block;
    /* margin: 2rem; */
    /* padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1rem; */
}
.largecard-bottom_arrow-image_image {
    /* display: inline-block; */
    /* margin: 2rem; */
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1rem;
}
.largecard-bottom_content {
    font-family: FiraSans;
    font-weight: 400;
    margin: 1rem;
    margin-right: 5rem;
}
.largecard_image__1 {
    /* float: left; */
    width: 730px;
    height: 520px;
    background-image: url("../images/card1.png");
    background-repeat:no-repeat;
    background-size: cover;
    /* margin-left: 3rem; */
    /* margin-top: 1rem; */ 
    /* margin: 5rem 1.5rem; */
}
.largecard_image__2 {
    /* float: left; */
    width: 510px;
    height: 520px;
    background-image: url("../images/card2.png");
    background-repeat:no-repeat;
    background-size: cover;
    /* margin-left: 3rem;
    margin-top: 1rem; */
    /* margin: 5rem 1.5rem; */
}
.largecard_image__3 {
    /* float: left; */
    width: 400px;
    height: 520px;
    background-image: url("../images/card3.png");
    background-repeat:no-repeat;
    background-size: cover;
    /* margin-left: 3rem;
    margin-top: 1rem; */
    /* margin: 5rem 1.5rem; */
}
.largecard_image__4 {
    /* float: left; */
    width: 400px;
    height: 520px;
    background-image: url("../images/card4.png");
    background-repeat:no-repeat;
    background-size: cover;
    /* margin-left: 3rem;
    margin-top: 1rem; */
}
.largecard_image__5 {
    /* float: left; */
    width: 400px;
    height: 520px;
    background-image: url("../images/card5.png");
    background-repeat:no-repeat;
    background-size: cover;
    /* margin-left: 3rem;
    margin-top: 1rem; */
}

/* Feature Banner */
.feature-banner {
    clear: left;
    border: 8rem;
    padding: 6rem;
    padding: 15rem 0;
    background-image: url("../images/banner-image.png");
    background-size: cover;
}
.feature-banner__title {
    width: 50%;
    margin: auto;
}
.feature-banner_text {
    color: white;
    margin-bottom: 3rem;
}
.feature-banner_breaker {
    display: block;
    width: 50px;
    margin: auto;
    border-bottom: 3px solid #4588ba; 
    margin-bottom: 20px;
    border-image: linear-gradient(98.01deg, #00C2FF 14.16%, #FF27C3 79.91%) 1;
    border-width: thin;
}
.feature-banner_button {
    display: block;
    color: white;
    width: 10%;
    margin: auto;
    text-align: center;
    padding: 1rem 2rem;
    border-style: solid;
    border-width: thin;
    border-image: linear-gradient(98.01deg, #00C2FF 14.16%, #FF27C3 79.91%) 1;
}


/* Upcoming Events */
.upcoming-events {
    margin-top: 3rem;
    margin-right: 3rem;
}
.upcoming-events_title {
    float: left;
    /* width: 70%;
    display: inline-block; */
    margin-left: 3rem;
    /* margin-top: 5rem; */
}
.upcoming-events_button {
    float: right;
    /* display: inline-block; */
    text-align: center;
    /* margin-left: 3rem; */
    padding: 1rem 2rem;
    border-style: solid;
    border-width: thin;
    border-image: linear-gradient(98.01deg, #00C2FF 14.16%, #FF27C3 79.91%) 1;
}

/* Featured Events */
.featured-events {
    clear: both;
}
.featured-event-card {
    display: inline;
    width: 800px;
}
.featured-event-card_date {

    display: inline-block;
    top: 1rem;
    left: 1rem;
    background-color: white;
    /* padding-right: 10rem; */
    margin-bottom: 20rem;
}
#featured-event-day {
    color: #FF227F;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}
#featured-event-month {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}
.featured-event-card_date_box {
    padding: 2rem 3rem;
    border: 1rem 3rem 8rem 3rem;
}
.featured-event-card__1 {
    width: 400px;
    display: inline-block;
    background-image: url("../images/fe-card1.png");
    background-repeat:no-repeat;
    /* background-size:400px 624px ;*/
    background-size: cover;
    margin-left: 3rem;
    margin-top: 1rem;
}
.featured-event-card__2 {
    width: 400px;
    display: inline-block;
    background-image: url("../images/fe-card2.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin-left: 3rem;
    margin-top: 1rem;
}
.featured-event-card__3 {
    width: 400px;
    display: inline-block;
    background-image: url("../images/fe-card3.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin-left: 3rem;
    margin-top: 1rem;
}
.featured-event-card_title {
    padding: 32px 16px;
    color: white;
}

/* General */
#social-media_image {
    margin-right: 1rem;
}
.button {
    text-decoration: none;
}
.button_white {
    color: white;
}
.button_black {
    color: #333333;
}
.button_underline {
    text-decoration: underline;
}
.crest-image {
    margin-bottom: 0.5rem;
}
.twitter-large_image {
    display: inline-block;
    text-align: right;
}
#student-life {
    opacity: 0.4;
    color: black;
    font-family: Arial;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}



/* Media queries for top student image */
@media only screen and (max-width: 1300px) {
    body {
        background-color: lightgreen;
    }
    header {
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /* height: 88px; */
        background-color: white;
        padding: 20px 80px;
    }

    .hero-image_image {
        width: 576px;
    }
}
@media only screen and (max-width: 1100px) {
    .hero-image_image {
        width: 432px;
    }
}




/* Media queries for iPad et al */
@media only screen and (max-width: 800px) {
    body {
        background-color: lightskyblue;
    }
    header {
        margin: 3rem 1rem;
    }
    footer {
        margin-top: 3rem;
    }

    /* Hero */
    .hero-text {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .hero-text_title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .hero-text_summary {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .hero-text_person {
        font-size: 0.7rem;
    }
    .hero-text_person__title {
        font-size: 0.5rem;
    }
    .hero-image_image {
        width: 380px;
    }

    /* Cards */
    .cards-area {
        margin-bottom: 3rem;
    }
    .largecard {
        margin-top: 2rem;
    }
    .largecard_image__1 {
        width: 680px;
        height: 484px;
        background-image: url("../images/card1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* Media queries for narrower mobiles */
@media only screen and (max-width: 415px) {
    body {
        background-color: lightpink;
    }
    header {
        margin: 2rem 1rem;
    }
    .header-crest {
        margin-bottom: 0rem;
    }
    #header_navigate__magnify {
        padding-top: 0rem;
    }

    .footer-university_twitter-body {
        width: 10rem;
    }
    

    .hero-text_title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .hero-text {
        margin: 0rem 3rem;
        width: 20%;
    }
    .hero-text_summary {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .hero-text_person {
        font-size: 0.7rem;
    }
    .hero-text_person__title {
        font-size: 0.5rem;
        margin-bottom: 2rem;
    }
    .hero-text_button {
        font-size: 0.75rem;
        width: 6rem;
        padding: 0.5rem 1rem;
    }
    .hero-image {
        float: right;
    }
    .hero-image_image {
        width: 200px;
        margin-right: 0.5rem;
    }

    /* Upcoming Events */
    .upcoming-events {
        margin-right: 0rem;
    }

    /* Featured Events */
    .featured-event-card_date {
        display: inline-block;
        top: 1rem;
        left: 1rem;
        background-color: white;
        margin-bottom: 16rem;
    }
    .featured-event-card__1 {
        width: 385px;
        display: inline-block;
        background-image: url("../images/fe-card1.png");
        background-repeat:no-repeat;
        margin-left: 1.5rem;
    }
    .featured-event-card__2 {
        width: 385px;
        display: inline-block;
        background-image: url("../images/fe-card2.png");
        background-repeat:no-repeat;
        margin-left: 1.5rem;
    }
    .featured-event-card__3 {
        width: 385px;
        display: inline-block;
        background-image: url("../images/fe-card3.png");
        background-repeat:no-repeat;
        margin-left: 1.5rem;
    }

    /* Cards */
    .largecard-top_image__1, .largecard-top_image__2 {
        margin-bottom: 275px;
    }
    .largecard_image__1 {
        width: 400px;
        height: 285px;
        background-image: url("../images/card1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .largecard_image__2 {
        width: 400px;
        height: 285px;
        background-image: url("../images/card2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}